/* später  */
.lightbox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000039;
}
.popup {
    min-height: 300px;
    min-width: 200px;
    background-color: #fff;
}