/* =======================================================================
SIDE BAR
========================================================================== */

.aside-buttons {
    gap: .75rem;
}

.button-save {
    background-color: var(--clr-accent-300);
    width: fit-content;
    padding: .6rem .9rem;
    gap: .5rem;
    border-radius: 5px;
}

.button-exit {
    background-color: var(--clr-primary-300);
    width: fit-content;
    padding: .6rem .9rem;
    gap: .5rem;
    border-radius: 5px;
}

.button-save svg,
.button-exit svg {
    color: var(--clr-primary-900);
}

.button-save:hover,
.button-exit:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/* =======================================================================
CONTENT
========================================================================== */

.content-costcalc {
    padding: 3rem 8rem;
    gap: 1rem;
}

/* =======================================================================
PROGRESS BAR
========================================================================== */

.progress-bar {
    gap: 1rem;
    padding: 1.5rem 0;
}

.progress-bar .selected {
    background-color: var(--clr-primary-100);
    border-radius: 50%;
    width: 56px;
    height: 56px;
}

.progress-bar .not-selected {
    background-color: #fff;
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 1px solid var(--clr-primary-900);
}

.progress-bar .not-selected:hover {
    background-color: var(--clr-primary-100);
    border-radius: 50%;
    width: 56px;
    height: 56px;
    border: 1px solid var(--clr-primary-900);
}

.progress-divider {
    height: 0;
    width: 5rem;
    border-bottom: 1.5px solid var(--clr-primary-900);
    flex-grow: 1;
}

/* =======================================================================
CALCULATION SETTINGS
========================================================================== */
.checkbox-import-fixed-costs,
.checkbox-add-vat {
    gap: 1rem;
}

/* input[type="checkbox"] {
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
} */

.button-new {
    background-color: var(--clr-accent-100);
    width: fit-content;
    padding: .3rem .5rem;
    gap: .5rem;
    border-radius: 5px;
    align-self: end;
}

/* =======================================================================
CALCULATION CHART
========================================================================== */

.table-content {
    gap: 1rem;
    text-align: center;
}

.table-head {
    padding: 1rem 2rem;
    width: 100%;
}

.employees-info, .fixed-costs {
    background-color: var(--clr-primary-50);
    border-radius: 10px;
    padding: 1rem 2rem;
    width: 100%;
}

.employees-info, .table-head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.fixed-costs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
}

.costs-without-taxes, .vat, .total-costs {
    width: calc(50% + 2rem);
    border-radius: 10px;
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.costs-without-taxes {
    background-color: var(--clr-primary-100);
}

.vat {
    background-color: var(--clr-primary-50);
}

.total-costs {
    background-color: var(--clr-primary-300);
}

.button-next {
    background-color: var(--clr-primary-300);
    width: fit-content;
    padding: .6rem .9rem;
    gap: .5rem;
    border-radius: 5px;
    align-self: end;
}

.button-next svg {
    color: var(--clr-primary-900);
}

.button-next:hover,
.employees-info:hover,
.button-new:hover,
.fixed-costs:hover,
.costs-without-taxes:hover,
.vat:hover,
.total-costs:hover {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
